<button (click)="showMessage()">+</button>
    <ng-container *ngIf="showMessages">
        <div *ngIf="messageService.messages.length">
            <h2>Messages</h2> <button (click)="showMessage()">-</button>
            <button
                class="clear"
                (click)="messageService.clear()"
            >
                clear
            </button>
            <div *ngFor="let message of messageService.messages">
                {{message}}
            </div>
        </div>
    </ng-container>